---

image:
  # -- image registry
  registry: nix-docker.registry.twcstorage.ru
  # -- image repository
  repository: infra/auth/keycloak
  # -- image tag
  tag: 26.3.4
  # -- image digest
  digest: sha256:5838c6e0bd64e8d0f2285bcb12ad65a460d1512a94faf044c6b0a875accc619a
  # -- image pull policy
  pullPolicy: Always

serviceAccount:
  # -- service account name
  name: keycloak
  # -- service account auto mount token
  automountServiceAccountToken: false

# -- replica count
replicaCount: 2

updateStrategy:
  # -- update strategy type
  type: RollingUpdate

service:
  # -- service port (app)
  port: 8080
  # -- management port (health, metrics)
  managementPort: 9000

ingress:
  # -- open access to app outside cluster via ingress
  enabled: false
  # -- ingress class name
  className: nginx
  # -- ingress host
  host: ""
  # -- ingress tls secret name (where to store signed certificate from Let's Encrypt)
  tlsSecretName: ""

app:
  env:
    # -- keycloak proxy headers to accept
    KC_PROXY_HEADERS: xforwarded
    # -- keycloak enable http
    KC_HTTP_ENABLED: "true"
    # -- keycloak strict hostname
    KC_HOSTNAME_STRICT: "true"
    # -- keycloak enable health endpoints
    KC_HEALTH_ENABLED: "true"
    # -- keycloak cache mechanism (only ispn for production)
    KC_CACHE: ispn
    # -- keycloak enable metrics endpoint
    KC_METRICS_ENABLED: "true"
    # -- keycloak database driver type
    KC_DB: postgres
  secrets:
    # -- app secrets env (store them in sops encrypted file)
    env:
    # -- app secrets certificates mount directory
    certificatesMountDir: /etc/ssl
    # -- app secrets certificates (store them in sops encrypted file)
    certificates:

annotations:
  statefulset:
    prometheus:
      # -- prometheus scrape enabled
      scrape: "true"
      # -- prometheus metrics path
      path: "/metrics"
      # -- prometheus metrics port
      port: "9000"
  ingress:
    certManager:
      # -- cert manager cluster issuer
      clusterIssuer: "letsencrypt-prod"

resources:
  requests:
    # -- cpu requests
    cpu: 250m
    # -- memory requests
    memory: 512Mi
    # -- ephemeral storage requests
    ephemeral-storage: 256Mi
  limits:
    # -- cpu limits
    cpu: 1000m
    # memory limits
    memory: 1Gi
    # -- ephemeral storage limits
    ephemeral-storage: 512Mi

probes:
  liveness:
    # -- liveness probe path
    path: /health/live
    # -- liveness probe initial delay
    initialDelaySeconds: 60
    # -- liveness probe period
    periodSeconds: 5
    # -- liveness probe timeout per attempt
    timeoutSeconds: 1
    # -- liveness probe max consecutive failures before restart
    failureThreshold: 5
  readiness:
    # -- readiness probe path
    path: /health/ready
    # -- readiness probe inital delay
    initialDelaySeconds: 60
    # -- readiness probe period
    periodSeconds: 5
    # -- readiness probe timeout per attempt
    timeoutSeconds: 1
    # -- readiness probe max consecutive failures before unready
    failureThreshold: 5
